body {
  margin: 0;
  /*background-color: #ccf2f4;*/
  text-align: center;
  font-family: verdana, sans-serif;
  background-color: #f4f9f9;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


h1 {
  margin: 200px;
  font-size: 90px;
  position: relative;
  bottom: 300px;
  font-family: 'Dancing Script', cursive;
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat'sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat'sans-serif;
}

p {
  font-size: 15px;
  font-family: 'arial';

}

hr{
  border: dotted #a4ebf3;
}
.top-container {
  background-color: #ccf2f4;
  padding-top: 100px;
  height: 500px;
}

/*.pro {
  text-decoration: underline;
  color: #11999E;
  position: relative;
  bottom: 500px;
}
*/
.middle-container {}

.bottom-container {}

.skill-row {
  width: 50%;
  margin: 100Px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.btn {}

.contact-me {}

.footer-link {}

.top-cloud {
  width: 200px;
  position: relative;
  left: 200px;
  bottom: 30px;
}

.bottom-cloud {
  width: 200px;
  display: inline;
  position: relative;
  bottom: 700px;
  right: 360px;
}

.mountain {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 900px;
  opacity: 0.7;

}

.image-profile {
  border-radius: 100%;
  width: 400px;
  height: 400px;
}

.web-pic {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;

}

.hot-wings {
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-left: : 30px;
}
